.board .row {
    width: 24em;
    display: flex;
}
.board .row > div {
    width: 3em;
    height: 3em;
}
.board .white {
    background-color: #c2c2c2;
}
.board .black {
    background-color: #525252;
}